Stage One: Import Libraries / Data
This is a CSV file that I found that I believed would work well for this project. Here I am importing the file from Kaggle.
First I have imported pandas as a means to manipulate and organize the data. This has been imported as pd instead of pandas to expidite future use of pandas without having to spell it out. The code is then reading in the chosen csv file and printing a section of the output to demonstrate it is working.

In [12]:
import pandas as pd

#create a dataframe object from a csv
student_df = pd.read_csv('student-por.csv', delimiter=",")

student_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

Stage Two: Display a Summary and Sub-sections of the Data.
(Show at least three different views using filtering or value sorting, and describe your choices)
The first block of code is displaying a 10 row subsection of the data set organized by the arbitrary assignment value from the original file structure.
The Second block of code shows the age range and average age of the students used in this data set to better understand the population of the data set.
The Third block of code Demonstrates the range and the mean of the number of absences in the data set and reveals a very large range with a reasonable mean, indicating reasonable overall absences and at least one student that sufferred some significant issue leading to a great numeber of absences.
The forth block is a random sampling of twenty students from the data set to get an idea of what the average student profile looks like in this data set.

In [13]:
student_df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,6,12,12,13
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,13,12,13
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,2,10,13,13
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,15,16,17
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,12,12,13

In [14]:
print(student_df['age'].min())
print(student_df['age'].mean())
print(student_df['age'].max())

15
16.7442218798151
22

In [15]:
print(student_df['absences'].min())
print(student_df['absences'].mean())
print(student_df['absences'].max())

0
3.6594761171032357
32

In [16]:
student_df.sample(20)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
481,MS,F,17,R,GT3,T,2,1,at_home,other,...,5,5,3,1,1,3,2,9,10,11
89,GP,M,16,U,LE3,A,4,4,teacher,health,...,4,1,3,3,5,5,6,9,9,10
449,MS,F,15,R,GT3,T,1,2,other,services,...,5,1,2,1,1,1,3,11,13,13
539,MS,F,16,U,LE3,T,4,1,other,other,...,1,2,4,2,2,1,8,9,10,10
472,MS,F,16,R,LE3,T,2,2,other,other,...,4,3,2,1,1,4,0,14,14,16
610,MS,F,19,R,GT3,A,1,1,at_home,at_home,...,3,5,4,1,4,1,0,8,0,0
389,GP,F,18,U,LE3,T,2,2,other,other,...,4,3,3,1,1,2,0,10,9,12
416,GP,M,17,U,LE3,A,3,2,other,other,...,4,4,4,1,2,5,10,16,18,18
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,3,5,2,1,1,3,10,18,17,18
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,2,10,13,13
640,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
272,GP,M,17,R,GT3,T,1,1,other,other,...,4,3,3,1,1,1,2,13,14,15
64,GP,F,15,U,LE3,T,4,3,services,services,...,4,4,4,2,4,2,0,13,12,12
562,MS,F,16,R,LE3,T,2,2,other,services,...,5,4,3,1,1,1,0,11,13,12
33,GP,M,15,U,LE3,T,3,3,other,other,...,5,3,2,1,1,2,0,13,12,12
274,GP,F,17,U,GT3,T,1,1,at_home,other,...,4,3,2,1,1,4,10,10,9,10
608,MS,F,18,U,LE3,A,1,1,at_home,services,...,5,2,3,1,2,3,2,8,10,11
323,GP,M,18,U,LE3,T,4,3,teacher,services,...,4,2,3,1,2,1,0,10,10,10
92,GP,F,16,U,LE3,T,3,1,other,other,...,3,3,3,2,3,2,0,12,13,12
309,GP,M,18,U,GT3,T,4,2,health,other,...,5,4,5,1,3,5,4,10,12,14

Stage Three: Clean Your Data¶
(Varies by dataset: you might replace missing values with a filler, replace shorthand from the dataset with readable language, and/or delete duplicates)
I kind of shot myself in the foot on this step as I chose a dataset with a usability score of 10 off of Kaggle because I did not want to run into problem based on my file choice like I have done in earlier assignments. I decided to replace famrel with FamRelationship as I thought famrel was somewhat ambigious. I am not sure what I have done wrong in this section. It appears to be working within the block of code, but when I print out a sample of the file famrel remains. Is it because this function is only suited to continous strings? Maybe I need to created another step that rewrites the file? Not sure.

In [25]:
contents = student_df
inside = 0
text = 'FamRelationship'

for char in contents:
    if char == 'famrel':
        inside = 1
    elif (inside == 1 and char == 'famrel'):
        inside = 0
    elif inside== 1:
        continue
    else: 
        text += char

print(text[0: 500])

FamRelationshipschoolsexageaddressfamsizePstatusMeduFeduMjobFjobreasonguardiantraveltimestudytimefailuresschoolsupfamsuppaidactivitiesnurseryhigherinternetromantic

In [26]:
student_df.sample(20)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
160,GP,F,15,U,GT3,T,1,2,at_home,services,...,2,3,4,2,4,1,6,11,11,11
168,GP,M,15,R,GT3,T,2,3,at_home,services,...,4,4,4,1,1,1,0,7,8,8
496,MS,F,16,R,LE3,T,1,1,services,services,...,4,4,4,2,2,4,2,14,14,14
486,MS,F,16,U,GT3,T,2,2,other,services,...,4,4,3,1,4,3,1,9,10,10
92,GP,F,16,U,LE3,T,3,1,other,other,...,3,3,3,2,3,2,0,12,13,12
54,GP,F,15,U,LE3,A,3,3,other,other,...,5,3,4,4,4,1,0,13,12,13
117,GP,M,16,U,GT3,T,3,3,other,services,...,5,4,2,1,1,5,6,14,14,15
334,GP,M,18,U,GT3,T,2,1,services,services,...,4,2,4,1,3,2,0,14,15,15
233,GP,F,17,U,GT3,T,2,2,at_home,at_home,...,4,3,3,1,1,4,0,12,12,13
226,GP,F,16,U,GT3,A,2,2,other,other,...,3,3,4,1,1,4,0,13,13,13
75,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,3,3,2,3,5,0,11,11,11
606,MS,F,17,U,GT3,T,4,2,teacher,other,...,4,2,3,3,1,5,0,18,18,18
415,GP,F,19,U,GT3,T,4,4,teacher,other,...,3,2,5,4,4,5,5,9,10,11
615,MS,F,17,U,LE3,A,3,2,services,other,...,1,2,3,1,2,5,0,15,14,15
286,GP,M,17,R,GT3,T,2,1,other,other,...,4,4,2,2,4,5,0,12,12,13
192,GP,M,16,R,GT3,T,4,2,teacher,services,...,4,3,3,3,4,3,8,10,9,11
617,MS,F,18,U,LE3,T,1,1,at_home,services,...,5,3,2,1,1,4,0,19,17,18
365,GP,F,17,U,GT3,A,4,3,services,services,...,5,2,2,1,2,5,14,15,14,17
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,2,14,14,14
488,MS,F,19,U,GT3,T,1,1,at_home,services,...,5,3,1,1,1,3,6,7,9,9